
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}


body{
  overflow-x: hidden;
  
}



.posfix{
  position: sticky;
  bottom: 0;
  left: 0;
}
.flexrow{
  display: flex;
  flex-direction: row;
}
.center{
  justify-content: center;
  align-items: center;
}

.drtl{
  direction: rtl;
}
.bet{
justify-content: space-between;
align-items: center;
}
.h2{

 color: royalblue;
  
 

}
.cb{
  color: royalblue;
}
.addToCart2{
   position: fixed;
   bottom: 0;
   left: 0;
  width: 100%;
  min-height: 50px;
  height: 50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: yellowgreen;
  color: white;
  transition: all .4s ease;

}
.windowOpen{
  height: 80% ;
  transition: all .4s ease;
  overflow-y: scroll;
  color: black;
}
.image{
  height: 80px;
  width: 120px;
}
.w100{
  width: 100%;
}
.alignCenter{
  align-items: center;
}

.flexcol{
  display: flex;
  flex-direction: column;
}




.max-width500{
  max-width: 500px;
}

.grid-form{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
.header{
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  position: sticky;
  top: 10%;
  left: 0;
  background-color: white;
}

.cw{
  color: white;
}
.link{
  text-decoration: none;
}
.tac{
  text-align: center;
}

.opacity0
{
  opacity: 0;
  visibility: hidden;
}
.bcyellow{
  background-color: yellow;
}
.bcpurple{
  background-color: purple;

}